@model List<Category>

@{
    ViewData["Title"] = "Category";
}



<div class="container">
    <div class="d-flex justify-content-between align-items-end pt-4 pb-3">
        <div class="">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary rounded">
                <i class="bi bi-plus-circle"></i> Add
            </a>
        </div>
    </div>

    <table class="table table-dark table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"
                               class="btn btn-primary mx-1 py-1 px-2 fs-6 rounded">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"
                               class="btn btn-danger mx-1 py-1 px-2 fs-6 rounded">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>